@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created as an organizer for a car dealership. The Lot link is to made to <br>
   describe what part of the parking lot of the dealsership the car is located. The Car page <br>
    is to input details of the car such as Make and Model of the vehicle as well as the <br>

    
    
    
    
    </p>
